@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");

.canvas-container {
  display: flex;
  flex-direction: column;
}

#canvas-search {
  color: black;
  display: inline-block;
  letter-spacing: 0.05em;
  padding: 0.5rem 0.8rem;
  margin: 0.5rem;
  background: white;
  border-radius: 5px;
  border-width: 2px;
  border:none;
  margin-bottom: 1em;
}

.page-container {
  display: flex;
  height: 100%;
  justify-content: space-evenly;
  flex-wrap: wrap;
  flex-direction: column;
  max-width: 698px;
  align-items: center;
}

.about-text p {
  padding: 15px;
  text-align: justify;
  text-indent: 25px;
}

.question {
  text-align: center !important;
  padding-bottom: 25px !important;
}

.button:hover {
  left: 0;
}

.page-title--home {
  color: white;
}

#canvas-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
  margin-bottom: 3em;
}

.page-title--home {
  color: white;
}
.find-canvas-text{
    color:#FFF;
    margin: 0;
    padding: 0;
    text-align: center;
}

@media ( max-width: 700px ) {
  #canvas-list { flex-direction: column; align-content: center;}
  .canvas-card{    min-width: 213px;}
  .page-container{display: block  ;}
  .about-text{margin-top: 3em;}
}