
textarea#description{
  width:100%;
  resize: none;
    outline: none;
    padding-left: 15px;
    border-radius: 5px;
    border: 1px solid lightgrey;
    border-bottom-width: 2px;
    font-size: 17px;
    transition: all 0.3s ease;
    max-height: 70px;
}

textarea::placeholder {
  color: #999;
  transition: all 0.3s ease;
}

@media (max-width: 700px) {

  .canvform{
    margin: 5em 2em;
  }

}